/* CSS for main page and more to be added */

body {

	background-color: #29cfff;

}

h1, h2, h3 {

	color: white;
	font-family: 'Open Sans', sans-serif;
	text-align: center;

}

p, a {

	color: white;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	text-decoration: none;

}

a:hover {

	color: black;
	text-decoration: none;
}

a:visited {

	color: purple;
	text-decoration: none;
}


footer {
	
	color: white;
	display: block;
	text-align: center;
	position: static;
	left: 0;
	bottom: 0;
	width: 100%;

}

#footer {

	font-family: monospace;

}